@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.container-scroller {
  display: flex;
  position: relative;
  overflow: hidden;
}

body {
  min-height: 100vh !important;
}

/* a.nav-link-hover{
  background: ;
} */